<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name = "Suite1">	
    <listeners>
        <listener class-name="resource.Setup"/>
    </listeners>
    <test name = "api test">
        <classes>
            <class name="com.turtlemint.CreateRequest"/>
            <class name="com.turtlemint.ValidatepinCode"/>
        </classes>
    </test>

</suite>